{% extends 'trainer/homeindex.html' %}
{% block body %}
<body>
<form action="/Aiyoga/trainer_Addtips_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <h1 align="center"> Add tips</h1>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Title</th>
      <td><input type="text" name="textfield" class="form-control"   required/></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>
          <textarea name="textfield2" class="form-control" required></textarea></td>
    </tr>

    <tr>
      <th scope="row">&nbsp;</th>
      <td><input name="ADD" type="submit" id="ADD" value="ADD" class="btn btn-info" /></td>
    </tr>
  </table>
</form>
{#<script>#}
{#    document.getElementById("dob").addEventListener("click", function () {#}
{#        let currentYY = parseInt(new Date().toJSON().slice(0, 4))-18;#}
{#        let currentMM = new Date().toJSON().slice(5, 7);#}
{#        let currentDD = new Date().toJSON().slice(8, 10);#}
{#        alert(currentDD)#}
{#        var fdob = currentYY.toString()+'-'+currentMM.toString()+'-'+currentDD.toString()#}
{#        this.setAttribute('max',fdob);#}
{#    })#}
{#</script>#}
{% endblock %}
