{% extends 'trainer/homeindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/Aiyoga/viewapprovedrequest_post/#about">
{% csrf_token %}
<h1 align="center"> Approved requests</h1>
  <table class="pull-left">
   <tr>
        <th>from date</th>
      <th scope="row"><input type="date" name="textfield" required/></th>
        <th>to date</th>
      <th scope="row"><input type="date" name="textfield2" required/></th>
      <td><input name="Search" type="submit" id="Search" value="Search" class="btn btn-success" /></td>
    </tr>
  </table>
<br>
<br>

  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl no </th>
      <td>Date</td>
      <td>User</td>
      <td>Status</td>
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>{{ i.Date }}</td>
      <td>{{ i.USER.Name }}&nbsp;</td>
      <td>{{ i.Status }}</td>

      <td><a href="/Aiyoga/rejectreq/{{ i.id }}" class="btn btn-danger" >reject</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
